{% extends "auctions/layout.html" %}

{% block title %}
    Favoris
{% endblock %}

{% block cardtitle %}
    Mes favoris
{% endblock %}

{% block body %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title text-center">Enchères dans vos favoris :</h5>
        <div class="card-text">
            {% for auction in auctions %}
            <div class="card mb-2">
              <a href="{% url 'auctions:list' auction.id %}">
                <img src="{{ auction.image }}" class="card-img-top" alt="Auction {{ auction.id }} image">
              </a>
              <div class="card-body">
                <a href="{% url 'auctions:list' auction.id %}">
                  <h5 class="card-title">{{ auction.title }}</h5>
                </a>
                <hr>
                <div class="text-center">
                  Statut de l'enchère : {% if auction.active %} <div class="mb-1" style="font-weight: bold; color: green;">Active</div>{% else %}<div class="mb-1" style="font-weight: bold; color: red;">Fermée</div>{% endif %}
                </div>
                <p class="card-text">{{ auction.content }}</p>
                <br>
                Prix de départ : <strong>{{ auction.starting_price }}€.</strong>
                <small class="float-right">
                  Catégorie : <strong>{{ auction.category }}</strong>
                </small>
                <hr>
                <div class="text-center">
                  {% if user.is_authenticated %}
                      <form action="{% url 'auctions:list' auction.id %}">
                        <input class="btn btn-primary mb-2" type="submit" value="Voir l'enchère">
                      </form>
                      <form action="{% url 'auctions:watchlist_remove' auction.id %}" method="POST">
                        {% csrf_token %}
                        <input class="btn btn-danger" type="submit" value="Supprimer de mes favoris">
                      </form>
                    {% else %}
                    <div class="text-center">
                      <form action="{% url 'auctions:list' auction.id %}">
                        <input class="btn btn-primary mb-2" type="submit" value="Connectez-vous ou inscrivez-vous pour y participer">
                      </form>
                    </div>
                  {% endif %}
                </div>
              </div>
              <div class="card-footer">
                <small class="text-muted">Postée par <strong>{{ auction.author }}</strong> le {{ auction.date }}</small>
              </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}