$primary: #5a00ad;

@import "bootstrap/bootstrap.scss";

.navbar-brand {

    img {
        margin-right: 10px;
    }
        font-size: 2.60rem;
        font-weight: bold;
        line-height: 1rem;
}

.btn-block {
    border-width: 2px;
}